In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series,DataFrame
from pylab import rcParams
import sklearn
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score,recall_score

In [2]:
titanic_training =pd.read_csv('/content/train (1).csv')

titanic_training.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
titanic_data = titanic_training.drop(['Name','Ticket','Cabin'],axis =1)
titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [ ]:
parch_group = titanic_data.groupby(titanic_data['Parch'])
pd.DataFrame(parch_group)

In [5]:
parch_group.mean()

       PassengerId  Survived    Pclass        Age     SibSp       Fare
Parch
0       445.255162  0.343658  2.321534  32.178503  0.237463  25.586774
1       465.110169  0.550847  2.203390  24.422000  1.084746  46.778180
2       416.662500  0.500000  2.275000  17.216912  2.062500  64.337604
3       579.200000  0.600000  2.600000  33.200000  1.000000  25.951660
4       384.000000  0.000000  2.500000  44.500000  0.750000  84.968750
5       435.200000  0.200000  3.000000  39.200000  0.600000  32.550000
6       679.000000  0.000000  3.000000  43.000000  1.000000  46.900000

In [6]:
def age_approx(cols):
    Age = cols[0]
    Parch =cols[1]
    if pd.isnull(Age):
        if Parch == 0:
            return 32
        elif Parch == 1:
            return 24
        elif Parch == 2:
            return 17
        elif Parch == 3:
            return 33
        elif Parch == 4:
            return 44
        elif Parch == 5:
            return 39
        elif Parch == 6:
            return 43
        else:
            return 30
    else:
        return Age

In [7]:
titanic_data['Age'] = titanic_data[['Age','Parch']].apply(age_approx,axis = 1)

In [8]:
titanic_data.dropna(inplace = True)
titanic_data.reset_index(inplace = True,drop = True)
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.6+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
gender_cat = titanic_data['Sex']
gender_encoded = label_encoder.fit_transform(gender_cat)
gender_encoded[0:5]

array([1, 0, 0, 0, 1])

In [10]:
gender_df= pd.DataFrame(gender_encoded,columns = ['Male_gender'])
gender_df.head()

   Male_gender
0            1
1            0
2            0
3            0
4            1

In [11]:
embarked_cat = titanic_data['Embarked']
embarked_encoded = label_encoder.fit_transform(embarked_cat)
embarked_encoded[0:100]

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2,
       1, 2, 2, 2, 0, 2, 1, 2, 0, 0, 1, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0,
       1, 2, 1, 1, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2])

In [12]:
from sklearn.preprocessing import OneHotEncoder
binary_encoder = OneHotEncoder(categories = 'auto')
embarked_1hot = binary_encoder.fit_transform(embarked_encoded.reshape(-1,1))
embarked_1hot_mat =embarked_1hot.toarray()
embarked_df = pd.DataFrame(embarked_1hot_mat,columns = ['C','Q','S'])
embarked_df.head()

     C    Q    S
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [13]:
titanic_data.drop(['Sex','Embarked'],inplace = True,axis = 1)
titanic_data.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [14]:
titanic_dmy = pd.concat([titanic_data,gender_df,embarked_df],verify_integrity = True,axis =1).astype(float)
titanic_dmy.head()

   PassengerId  Survived  Pclass   Age  ...  Male_gender    C    Q    S
0          1.0       0.0     3.0  22.0  ...          1.0  0.0  0.0  1.0
1          2.0       1.0     1.0  38.0  ...          0.0  1.0  0.0  0.0
2          3.0       1.0     3.0  26.0  ...          0.0  0.0  0.0  1.0
3          4.0       1.0     1.0  35.0  ...          0.0  0.0  0.0  1.0
4          5.0       0.0     3.0  35.0  ...          1.0  0.0  0.0  1.0

[5 rows x 11 columns]

In [15]:
titanic_dmy.drop(['Pclass','Fare'],axis =1,inplace = True)
titanic_dmy.head()

   PassengerId  Survived   Age  SibSp  Parch  Male_gender    C    Q    S
0          1.0       0.0  22.0    1.0    0.0          1.0  0.0  0.0  1.0
1          2.0       1.0  38.0    1.0    0.0          0.0  1.0  0.0  0.0
2          3.0       1.0  26.0    0.0    0.0          0.0  0.0  0.0  1.0
3          4.0       1.0  35.0    1.0    0.0          0.0  0.0  0.0  1.0
4          5.0       0.0  35.0    0.0    0.0          1.0  0.0  0.0  1.0

In [16]:
X_train,X_test,y_train,y_test = train_test_split(titanic_dmy.drop(['Survived'],axis=1),
                                                 titanic_dmy['Survived'],test_size =0.2,random_state =200)

In [17]:
logreg = LogisticRegression(solver = 'liblinear')
logreg.fit(X_train,y_train)

LogisticRegression(solver='liblinear')

In [18]:
y_pred = logreg.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.83      0.88      0.85       109
         1.0       0.79      0.71      0.75        69

    accuracy                           0.81       178
   macro avg       0.81      0.80      0.80       178
weighted avg       0.81      0.81      0.81       178